<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style type="text/css">
{{<<n.csscode}}
</style>
<script type="text/javascript">
{{<<n.jscode}}
</script>
效果展视：
{{<<n.examplecode}}


<style type="text/css">
.gcssbg{
  background-color:#cccccc;
  border: 1px solid #333333; 
} 
</style>
<hr>
{{=n.title}}
<pre >
<textarea cols='80'  rows='20' wrap="hard" readonly="readonly">
{{=n.content}}
</textarea>
</pre>
CSS代码：
<pre>
<textarea cols='80'  rows='20' wrap="hard" readonly="readonly">
{{=n.csscode}}
</textarea>
</pre>
JS代码：
<pre >

<textarea  cols='80'  rows='20' wrap="hard" readonly="readonly">
{{=n.jscode}}

</textarea>
</pre>

使用样例：
<pre >

<textarea  cols='80'  rows='20' wrap="hard" readonly="readonly">
{{=n.examplecode}}
</textarea>
</pre>

