
{{extend "base.html"}}
{{block title}}GSS,自助CSS样式库{{end}}


{{block content_main}}

<div class="well">  这是一个自助的CSS样式库，欢迎您测试自己的CSS，JS；优秀的作品可以直接保存。
<p class='pull-right'><a class='btn btn-warning' href=/gcss/new> 添加新样式</a></p>
</div>

<hr>
{{for n in gacss:}}
<div class="panel">
<div class="panel-header">
	{{=n.title}}<p class='pull-right'>
       <a class='btn btn-inverse' href=/gcss/display/{{=n.id}}>查看源代码</a></p>
</div>
 <div class="panel-content">
  <div>{{from uliweb.utils.textconvert import text2html}}
        {{<<text2html(n.content)}}
   </div>
   <div><iframe width=100% height=100% src=/gcss/src/{{=n.id}}></iframe></div>
 </div><!--panel-content-->
</div> <!--panel-->
{{pass}}
</div>
{{end}}
